.item {
  height: 500px;
  background-image: url(https://fastly.picsum.photos/id/439/500/500.jpg?hmac=lj2SoYqYGC6Qd5qEW2YmgyD0qdxf5usiTeuC0RuGemo);
  background-repeat: no-repeat;
}

.btn-atc {
  display: none;
}

.item:hover {
  background-image: url(https://fastly.picsum.photos/id/690/500/500.jpg?hmac=wMEoWgTPfgwpyZs05CPu03xYobEjOiXd5fwPpx-PDvU);
}

.item:hover > .btn-atc {
  display: inline;
}
